<div class="container-fluid">
  <p>mobile: {{mobile|json}}</p>
  <p>NgForm: {{productMaster.value|json}}</p>
  <div class="row">
    <div class="col m12">
      <h3>New Mobile</h3>
      <app-toast-notification #toast></app-toast-notification>

      <form #productMaster="ngForm">
        <div class="row">
          <label for="brand">Brand</label>
          <div class="form-group mb-3 col-9">
            <!-- autocomplete -->
            <select class="form-control"  name="brandName" [(ngModel)]="mobile.brandName">
              <option value="{{mobile.brandName}}" selected>{{mobile.brandName.name}}</option>
              <option *ngFor="let b of brands" [ngValue]="{ _id: b._id, name: b.name }">{{b.name}}</option>
            </select>
          </div>
          <div class="col-3">
            <button class="btn btn-light" (click)="showModal()"><i class="bi bi-plus-square"></i> Add
              Brand</button>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="modelName" class="form-label">Model Name</label>
          <input type="text" class="form-control" placeholder="14 Pro Max 128 GB" name="modelName"
            [(ngModel)]="mobile.modelName">
        </div>
        <div class="form-group mb-3">
          <label for="color" class="form-label">Color</label>
          <input type="text" class="form-control" id="color" placeholder="Deep Purple" name="color"
            [(ngModel)]="mobile.color">
        </div>
        <div class="form-group mb-3">
          <label for="countryOfOrigin" class="form-label">Country of origin</label>
          <input type="text" class="form-control" id="countryOfOrigin" placeholder="India" name="countryOfOrigin"
            [(ngModel)]="mobile.countryOfOrigin">
        </div>
        <div class="form-group mb-3">
          <label for="ASIN" class="form-label">Amazon ASIN</label>
          <input type="text" class="form-control" id="asin" placeholder="B0BDHV1TZ4" name="asin" [(ngModel)]="mobile.asin">
        </div>
        <div class="form-group mb-3">
          <label for="closingStock " class="form-label">Closing Stock</label>
          <input type="number" class="form-control"  name="closingStock" [(ngModel)]="mobile.closingStock">
        </div>
        <div class="form-group mb-3">
          <label for="sellingPrice" class="form-label">Selling Price</label>
          <input type="number" class="form-control" name="sellingPrice" [(ngModel)]="mobile.sellingPrice">
        </div>

        <div class="form-group mb-3" *ngIf="!mobile._id">
          <button type="submit" class="btn btn-primary" (click)="addModel(productMaster)">Submit</button>
        </div>
        <div *ngIf="mobile._id">
          <div class="form-group mb-3">
            <div class="form-group mb-3">
              <p>Created on: <strong>{{mobile.createdOn}}</strong></p>
              <p>Last updated on: <strong>{{mobile.lastUpdated}}</strong></p>
              <div class="form-group mb-3" >
                <button type="submit" class="btn btn-primary" (click)="updateMobile(productMaster)">Update</button>
              </div>              
            </div>
          </div>
        </div>
        
      </form>
    </div>
    <div class="col m12">
      <table class="table">
        <thead>
          <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Color</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of mobiles">
            <td>{{m.brandName.name}}</td>
            <td>{{m.modelName}}</td>
            <td>{{m.color}}</td>
              <td><a (click)="onEdit(m)"><i class="bi bi-pencil-square"></i></a></td>
              <td><a  (click)="deleteMobile(m._id)" ><i class="bi bi-trash"></i></a></td>
          
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- popup modal -->
<div class="modal" id="addBrand">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Brand</h4>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-brand-master (addBrandEvent)="addNewBrand($event)" > </app-brand-master>
      </div>
    </div>
  </div>
</div>
