<div class="container-fluid">
  <div>
    <table>
      <tr>
        <td>
          <div class="card" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">Add New Mobile</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="/mobiles/new" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">Sales</h5>
              <a href="/voucher/sales/new" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">Purchases</h5>
              <a href="voucher/purchases/new" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">Purchases</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="/mobiles/new" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="card" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">Add New Mobile</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="/mobiles/new" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">Sales</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="/mobiles/new" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">Purchases</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="/mobiles/new" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">Purchases</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="/mobiles/new" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </td>
      </tr>

    </table>
  </div>
</div>
