<form [formGroup]="PurchaseInvoiceForm" (ngSubmit)="savePurchase()" class="container">

<div class="card">
  <h3>{{pageTitle}}</h3>
  <div class="card-body">

    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="form-group col-lg-4">
            <label for="voucherNo" class="form-label">Voucher No</label><span class="text-danger">*</span>
              <input formControlName="voucherNo" type="text" class="form-control">            
          </div>
          <div class="form-group col-lg-4">
            <label for="invoiceNo" class="form-label">Invoice No</label>          
              <input formControlName="invoiceNo" type="text" class="form-control">          
          </div>
          <div class="form-group col-lg-4">
            <label for="date" class="form-label">Date</label>          
              <input formControlName="date" type="text" class="form-control">          
          </div>
        </div>
        <div class="form-group">
          <label for="creditorName" class="form-label">Party Name</label>          
            <input formControlName="creditorName" type="text" class="form-control">          
        </div>
        <div class="row">
          <div class="form-group col-lg-6">
            <label for="address" class="form-label">Billing Address</label>          
              <textarea formControlName="address" type="text" class="form-control"></textarea>          
          </div>
          <div class="form-group col-lg-6">
            <label for="address" class="form-label">Delivery Address</label>          
              <textarea formControlName="address" type="text" class="form-control"></textarea>          
          </div>
        </div> 
        <div class="row">
          <div class="form-group col-lg-4">
            <label for="phone" class="form-label">Phone</label>          
              <input formControlName="phone" type="text" class="form-control">          
          </div>
          <div class="form-group col-lg-4">
            <label for="email" class="form-label">email</label>          
              <input formControlName="email" type="text" class="form-control">          
          </div>
        </div>      
      </div>
    </div>
    

    

    <div class="row">
      <div class="col-lg-12">
        <table class="table table-bordered" formArrayName="details">
          <thead>
            <tr>
              <td>Sr No.</td>
              <td>Brand</td>
              <td>Product</td>
              <td>IMEI</td>
              <td>Qty</td>
              <td>Price</td>
              <td>Total</td>
              <td>Action</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of invProducts.controls;let i = index" [formGroupName]="i">
              <td>{{i + 1}}</td>
              <td>
                <select  formControlName="brandName" (change)="productChange()" class="form-control">
                  <option *ngFor="let b of masterBrand" [value]="b.name" >{{b.name}}</option>
                </select>
              </td>
              <td>
                <select  formControlName="productName"  class="form-control">
                  <option *ngFor="let p of masterProduct" [value]="p._id" >{{p.modelName}}</option>
                </select>
              </td>
              <td><input  formControlName="imei" type="text" class="form-control"></td>
              <td><input  formControlName="qty" type="text" class="form-control"></td>
              <td><input  formControlName="price" type="text" class="form-control"></td>
              <td><input  formControlName="total" type="text" class="form-control"></td>
            </tr>

          </tbody>
          <tfoot>
            <tr>
              <td><a (click)="addProduct()" class="btn btn-success"><i class="bi bi-plus-lg"></i></a></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="form-group"><label for="" class="form-label">Summary Total</label>
          <input type="text" class="form-control" formControlName="total">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group"><label for="" class="form-label">GST</label>
          <input type="text" class="form-control" formControlName="gst">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group"><label for="" class="form-label">Summary Net Total</label>
          <input type="text" class="form-control" formControlName="netTotal">
        </div>
      </div>
    </div>

    
      <div class="col-lg-12">
        <button class="btn btn-success">Save</button>
      </div>
    

  </div>
</div>
</form>



<!-- <h3>Purchase Entry</h3>
<form action="">
  <div class="form-group">
    <label for="invNo" class="form-label">Inv No.</label>
    <input class="form-control" id="invNo">
  </div>
  <div class="form-group">
    <label for="purchaseId" class="form-label">Purchase Id</label>
    <input class="form-control" id="purchaseId">
  </div>
  <div class="form-group">
    <label for="partyName" class="form-label">Party Name</label>
    <input class="form-control" id="Party Name">
  </div>
</form> -->
